:root {
    background-color: #594242;
    font-family: ArialPixel;
    color: #dedfd6;
}

@font-face {
    font-family: ArialPixel;
    src: url("../Edward/fonts/ArialPixel.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-element {
    background-color: #595342;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

.container-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-text {
    text-align: center;
}
