:root {
    background-color: #3e4637;
    font-family: ArialPixel;
    color: #dedfd6;
}

@font-face {
    font-family: ArialPixel;
    src: url("../Edward/fonts/ArialPixel.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header-element {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-element {
    background-color: #4a5942;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

.container-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-logo-game {
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
}

.container-logo {
    width: 80px;
    height: 80px;
    background-color: #dedfd6;
    border-radius: 10px;
    padding: 10px;
}

.container-text {
    text-align: center;
}

a:link {
    color: #dedfd6;
}

a:visited {
    color: #dedfd6;
}

body {
    margin-bottom: 70px;
}

footer {
    position: fixed;
    background-color: #4a5942;
    outline: 5px ridge #dedfd6;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
