:root {
    background-color: #594242;
    font-family: ArialPixel;
    color: #dedfd6
}

@font-face {
    font-family: ArialPixel;
    src: url("../fonts/ArialPixel.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-element {
  background-color: #424259;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}